{{!-- modal form to pop up on unregonised item scan, used to enter new details --}}
{{!-- <script src="/client-scripts/item-img-cap.js" defer></script> NOT IN USE CURRENTLY --}}

<div class="modal-content">
  <form id="enter-new-details-form" method="post" enctype="multipart/form-data" action="/items/create-new">
    <span class="close" id="close-new-details-form">&times;</span>
    <img src="/assets/logo-nb-nt-smiley-200.webp" alt="logo"
      style="height: 40px; width: 40px; margin: -9px -10px -1px 0px;">
    <br>
    {{#if toastMessage}}
    <div class="error-message">{{toastMessage}}</div>
    {{/if}}
    <label for="barcode-found">Barcode:</label>
    <input type="text" name="barcode" id="barcode-found" placeholder="{{ item.barcode }}">
    <br>
    <label for="name">Name:</label>
    <input type="text" name="name" id="name" placeholder="{{ item.name }}">
    <br>
    <label for="description">Description:</label>
    <input type="text" name="description" id="description" placeholder="{{ item.description }}">
    <br>
    <label for="cost">Cost:</label>
    <input type="number" name="cost" placeholder="{{ item.cost }}" id="cost" min="0" max="1000" step="0.01">
    <br>
    <label for="UOM">Unit of Measure:</label>
    <input type="text" name="UOM" id="UOM" placeholder="{{ item.UOM }}">
    <br>
    <label for="qty">Qty:</label>
    <input type="number" name="qty" id="qty" placeholder="{{ item.qty }}" min="0" max="1000" step="1">
    <br>
    <input type="file" name="item_img" id="item_img">
    <button type="submit">Submit</button>
  </form>
</div>