{{!-- summary display of item details --}}
{{#custom-each item}}
<div class="item-summary-container" id="item-summary">
  <img src="{{item_img_path}}" alt="image of product at time of scanning" id="item-image">
  <p id="item-id">Item ID:
    <strong style="color: blue;">{{item_id}}</strong>
  </p>
  <p id="barcode">Item Barcode:
    <strong style="color: blue;">{{barcode}}</strong>
  </p>
  <p id="item-name">Item Name:
    <strong style="color: blue">{{name}}</strong>
  </p>
  <p id="item-description">Item Description:
    <strong style="color: blue">{{description}}</strong>
  </p>
  <p id="item-cost">Item cost:
    <strong style="color: blue">$ {{cost}} {{UOM}} </strong>
  </p>
  <p id="item-qty">Qty:
    <strong style="color: blue;">{{qty}} </strong>
  </p>
  <div>
    <button id="confirm-ok-btn"><span><img id="hero-logo" src="/assets/logo-nb-nt-smiley-200.webp"
          alt="logo-a graphic that appears like a friendly simling face"></span></button>
  </div>
</div>
{{/custom-each}}
